{% extends 'base.html' %}

{% block title %}Information{% endblock title %}


{% block style %}
body{
    background-color:lightgreen;
   
}

.imp{
    width:100%;
}
p{
    font-size:30px;
    font-style:italic;
}
h1{
    font-style:italic;
    font-size:40px;
}

{% endblock style %}


{% block body %}
<center><h1>Ocimum sanctum</h1><center>
<img  class="imp" src="static/tulsi.jpg">
<p>Ocimum sanctum, know commonly as tulsi, is also known as "holy basil" or "sacred basil". This plant is often 
    grown in Hindu homes for its medical and spiritual properties.Tulsi has been used in India, China and the Middle
     East for thousands of years. It became known as "sacred" or "holy basil" after it was introduced to European Christians.
     There are three different strains of tulsi. Rama tulsi has green leaves, Krishna tulsi has purple leaves, and the third,Vana tulsi, is a wild variety. There is a great deal of variety in the size and coloring of these plants depending upon geography, rainfall and plant type.


<center><h1>Aleo vera</h1></center>
<img  class="imp"src="static/aelovera.jpg">
<p>Aloe is a cactus-like plant that grows in hot, dry climates. It is cultivated in subtropical regions around the world, including the southern border areas of Texas, New Mexico, Arizona, and California.
    Historically, aloe has been used for skin conditions and was thought to improve baldness and promote wound healing.
    Aloe is used topically (applied to the skin) and orally. Topical use of aloe is promoted for acne, lichen planus (a very itchy rash on the skin or in the mouth), oral submucous fibrosis, burning mouth syndrome, burns, and radiation-induced skin toxicity. Oral use of aloe is promoted for weight loss, diabetes, hepatitis, and inflammatory bowel disease (a group of conditions caused by gut inflammation that includes Crohn’s disease and ulcerative colitis).Clinical research suggests that topical application of an aloe-based gel twice daily (along with medical soap and tretinoin gel) may improve acne.
    Clinical research suggests topical application of aloe gel may speed burn healing. There also is evidence that treatment with aloe vera may reduce pain from burns.
    Research suggests topical use of aloe also may help people with herpes simplex, lichen planus, or psoriasis.
    Three trials (with a total of 236 adult participants) have evaluated the use of oral doses of aloe vera for symptoms of irritable bowel syndrome. Results from one trial showed a benefit; the other two trials showed no benefit of aloe vera over placebo</p>
     {% endblock body %}